// .hero__info{
//     margin-top: 130px;
//     background-image: url(../imeg/Bitmap.png);
//     background-repeat: no-repeat;
//     background-size: 100% 100%;
//     background-size: contain;
//     background-position: center;
//     display: -webkit-box;
//     display: -ms-flexbox;
//     display: flex;
//     position: relative;
//     -webkit-box-orient: vertical;
//     -webkit-box-direction: normal;
//         -ms-flex-direction: column;
//             flex-direction: column;
//     padding:98px 87px;
//     padding-right: 762px;
//     border-radius: 10px;
// }
.hero__info {
    position: relative;
    width: 1340px;
    height: 600px;
    left: -83px;
    top: 112px;
    background: #2D2641;
}

.hero__title {
    position: absolute;
    font-family: "DM Serif Display";
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 64px;
    letter-spacing: -1px;
    color: #FFFFFF;
    width: 451px;
    margin-left: 112px;
    margin-top: 132px;
}

.partret {
    z-index: 1;
    position: absolute;
    width: 518px;
    height: 631px;
    left: 660px;
    top: 95px;
    contain: "";
    background: url(../../imeg/Bitmap\ Copy.png);
    background-repeat: round;
}

.line1 {
    overflow: hidden;
    position: absolute;
    right: 1145px;
    top: 412px;
}

.line2 {
    overflow: hidden;
    position: absolute;
    left: 902px;
    top: 4px;
   
}



.hero__text {
    font-family: "Barlow", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    mix-blend-mode: normal;
    opacity: 0.8;
    width: 530px;
    margin-top: 32px;
    position: absolute;
    top: 254px;
    left: 114px;
}

.hero__button {
    position: absolute;
    left: 116px;
    top: 403px;
    box-sizing: border-box;
    border: 1.5px solid #FFFFFF;
    background: inherit;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    // font-size: 13px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 1.5px;

    color: #FFFFFF;

    &:hover {
        color: black;
        background-color: rgba(255, 255, 255, 1);
    }

}

.line {
    position: absolute;
    width: 150px;
    height: 1px;
    left: 113px;
    top: 95px;
    background: #FFFFFF;
}


// section2 style
.different {
    margin-top: 390px;
    display: flex;
    flex-direction: column;
    width: 1053px;

    &__line {
        height: 2px;
        width: 150px;
        background-color: rgba(195, 150, 198, 1)
    }

    &__title {
        font-family: "DM Serif Display";
        font-style: normal;
        font-weight: 700;
        font-size: 72px;
        line-height: 64px;
        letter-spacing: -1px;
        color: #2C2830;
        margin-top: 55px;
    }

    &__list {
        list-style: none;
        display: flex;
        margin-left: -38px;

        &>li>h3 {
            font-family: 'DM Serif Display';
            font-style: normal;
            font-weight: 700;
            font-size: 28px;
            line-height: 38px;
            letter-spacing: -0.388889px;
            color: #2C2830;
        }

        &>li>p {
            font-family: 'Karla', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            color: #837D88;
            width: 350px;

            font-family: 'Karla';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            /* or 162% */


            color: #837D88;

        }

        &>li+li {
            margin-left: 30px;
        }
    }

    &__item1::before {
        content: url(../../imeg/snappy.svg);
    }

    &__item2::before {
        content: url(../../imeg/prices.svg);
    }

    &__item3::before {
        content: url(../../imeg/people.svg);
    }
}

// section3 style
.work {
    background-color: #2D2641;
    margin-top: 158px;
    padding: 26px 81px;
    width: 1000px;

    &__box {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__title {
        width: 433px;
        font-family: 'DM Serif Display';
        font-style: normal;
        font-weight: 400;
        font-size: 56px;
        line-height: 56px;
        /* or 100% */

        letter-spacing: -0.777778px;

        color: #FFFFFF;
    }
    &__btn{
      
        left: 116px;
        top: 403px;
        box-sizing: border-box;
        border: 1.5px solid #FFFFFF;
        background: inherit;
        color: white;
        padding: 10px 20px;
        cursor: pointer;
        font-family: 'Karla';
        font-style: normal;
        font-weight: 700;
        // font-size: 13px;
        line-height: 15px;
        text-align: center;
        letter-spacing: 1.5px;
        z-index: 1;
        color: #FFFFFF;
    
        &:hover {
            color: black;
            background-color: rgba(255, 255, 255, 1);
        }
    }
   
}
.line3{   
    position: absolute;
    height: -1px;
    contain: "";
    background: url(../../imeg/Group\ 10.png);
    background-repeat: round;
    margin-left: 486px;
}